#readlikeme{
  width: 200px;
}
#checkPage{
  width: 100px;
  text-align: center;
  background-color: #2A9471;
  border: 0;
  padding: 20px;
  outline: 0;
  color: white;
  letter-spacing: 4px;
  transition: .4s;
}

#checkPage:hover{
  opacity: .6;
}
